@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@200;300;400;500;600;700&family=Oswald:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

:root{
    --primary-color: #f1efe3;
    --secondary-color: #ffffff;
}

p, label{
    margin-bottom: 0 !important;
    line-height: 1;
}

body {
    background: #f1efe3 !important; 
    font-family: 'Poppins', sans-serif;
}

.web:has(.cart) {
    width: 1360px;
}

.web:has(.home){
    max-width: 1840px;
}

.web:has(.list){
    max-width: 95% !important;
}

.web:has(.purchase-history){
    padding-left: 15px !important;
}

.col-7-5{
    max-width: 62.5% !important;
}

.col-4-5{
max-width: 37.5% !important;
}