html, body {
    height: 100%;
    background-color: #f1efe3;
}

* {
    margin: 0;
    padding: 0;
}

#form {
    width: 300px;
    margin: auto auto;
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    font-size: 12px;
}

#form h1 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

.field-container { 
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.field-container input{
    font-size: 14px;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    padding: 0 16px;
    border: 1px solid #d1d1d1;
}

.field-container input:focus, #form input:focus {
    outline: none;
}

.field-container.success input {
    border-width: 2px;
    border-color: #09c372;
}

.field-container.error input {
    border-width: 2px;
    border-color: #d93025;
}

.field-container span.error {
    display: flex;
    align-items: center;
    color: #d93025;
    font-size: 12px;
    margin-top: 4px;
}

span.error p {
    margin: 0;
}

span.error .error-icon {
    margin-right: 4px;
}

.button {
    margin-bottom: 8px;
}

.button input {
    width: 100%;
    height: 36px;
    border-radius: 8px;
    background-color: #d93025;
    color: #fff;
    font-size: 16px;
    font-weight: 450;
    transition: all 0.3s ease;
    border: none;
}

.button input:hover {
    background-color:#e5554b;
}

.other {
    margin-top: 12px;
    text-align: center;
    font-size: 16px;
}