{% extends 'base.html' %} {% block content %} {% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta
			id="meta"
			name="viewport"
			content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}" />
		<style type="text/css">
			body {
				background-color: #f0f0f0;
			}
		</style>
	</head>

	<body>
		<div class="checkout">
			<div class="row">
				<div class="col-8 grid-margin">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Shipping address</h4>
							<div class="form-floating">
								<input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" />
								<label for="floatingInput">Phone number*</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4 grid-margin">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Your Order</h4>
							<div class="card-row d-flex justify-content-between mb-5">
								<div class="card-row-left d-flex">
									<img
										class="card-row-img"
										src="{% static 'images/books/covers/something-nasty-in-the-woodshed.jpg' %}"
										alt="" />
									<div class="d-flex flex-column justify-content-between ml-3">
										<p class="card-row-title">Something Nasty In The Woodshed</p>

										<div class="d-flex justify-content-between">
											<div>
												<p class="card-row-author">Author's name</p>
												<p class="card-row-quantity mt-2">x1</p>
											</div>
											<div class="d-flex align-items-end">
												<p class="card-row-price">189.000 vnd</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-row d-flex justify-content-between mb-5">
								<div class="card-row-left d-flex">
									<img
										class="card-row-img"
										src="{% static 'images/books/covers/something-nasty-in-the-woodshed.jpg' %}"
										alt="" />
									<div class="d-flex flex-column justify-content-between ml-3">
										<p class="card-row-title">Something Nasty In The Woodshed</p>

										<div class="d-flex justify-content-between">
											<div>
												<p class="card-row-author">Author's name</p>
												<p class="card-row-quantity mt-2">x1</p>
											</div>
											<div class="d-flex align-items-end">
												<p class="card-row-price">189.000 vnd</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="dashed-line"></div>
							<h4 class="card-title">Price</h4>
							<div class="card-row d-flex justify-content-between mb-3">
								<p class="card-row-fee">Subtotal</p>
								<p class="card-row-cost opacity-100">189.000</p>
							</div>
							<div class="card-row d-flex justify-content-between mb-3">
								<p class="card-row-fee">VAT</p>
								<p class="card-row-cost">0</p>
							</div>
							<div class="card-row d-flex justify-content-between mb-2.75">
								<p class="card-row-fee">Shipment cost</p>
								<p class="card-row-cost">40.000</p>
							</div>
							<div class="dashed-line o-80"></div>
							<div class="card-row d-flex justify-content-between mb-5 mt-3">
								<p class="card-row-fee" style="font-size: 18px; font-weight: 600; opacity: 0.8">Grand total</p>
								<p class="card-row-cost" style="font-size: 20px; opacity: 0.8">229.000 vnd</p>
							</div>
							<div class="btn btn-lg btn-primary w-100">Continue to payment</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

{% endblock content %}
