{% extends 'base.html' %} {% block content %} {% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
<br />
<div class="card mb-3" style="max-width: 840px">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ object.cover }}" class="card-img" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{ object.title }}</h4>
        <p class="card-text">Author: {{ object.author }}</p>
        <hr />
        <p class="card-text">{{ object.description }}</p>
      </div>
    </div>
  </div>
</div>

<!-- <p>Follow Author: </p> -->
<p><a href="">Follow Author</a></p>
<p>Price: $ {{ object.price|floatformat:2 }}</p>

{% if object.book_available is True %}
<a
  href="{% url 'checkout' object.pk %}"
  class="btn btn-outline-success"
  role="button"
  >Buy Now</a
>
<input type="hidden" value="{{ object.pk }}" name="id" id="id" />
<input
  aria-label="quantity"
  class="input-qty"
  id="quantity"
  type="number"
  value="1"
/>
<input type="button" value="Cart items" onclick="addItem()" />
<a href="{% url 'view_cart' %}"> Cart</a>
<script lang="JavaScript">
  function addItem() {
  	var url = "{% url 'add_to_cart' %}"
  	id = document.getElementById("id").value
  	quantity = document.getElementById("quantity").value
  			fetch(url, {
  				method: 'POST',
  				headers: {
  					'content-type': 'application/json',
  					// 'X-CSRFToken': csrftoken,
  				},
  				body: JSON.stringify({ 'id': id, "quantity" :quantity})
  			})
  		}
</script>
{% else %}
<h4 class="text-danger">Out of Stock !</h4>
{% endif %} {% endblock content %}
