{% extends 'base.html' %} {% block content %} {% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bookdetail.css' %}" />

<br />
<div class="book-detail container">
	<div class="row book-detail-upper">
		<div class="col-md-5 book-cover">
			<!-- <img src="https://dkemhji6i1k0x.cloudfront.net/000_clients/489816/page/489816HeD639gY.png" class="card-img" /> -->
			<img src="{{book.cover}}" class="card-img" />
			<!--             
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVqBAIpYFBfWo2y6aymZ0eo_GSNMIP9BL-4w&usqp=CAU" class="card-img" /> -->
		</div>
		<div class="col-md-7 grid-margin book-detail-upper-right">
			<div class="card-body" style="font-weight: 400; line-height: 30px">
				<h4 class="card-title">{{book.title}}</h4>
				<div class="rating-feedback container">
					<div class="rating-container">
						<div class="stars">
							{% if rating_value == 0 %}
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
							{% elif rating_value < 1 %}
							<i class="fa-solid fa-star-half-stroke"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
							{% elif rating_value == 1 %}
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
							{% elif rating_value < 2 %}
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star-half-stroke"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>

							{% elif rating_value == 2 %}
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>

							{% elif rating_value < 3 %}
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star-half-stroke"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
							{% elif rating_value == 3 %}
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
							<i class="fa-regular fa-star"></i>
							{% elif rating_value < 4 %}
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star-half-stroke"></i>
							<i class="fa-regular fa-star"></i>
							{% elif rating_value == 4 %}
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-regular fa-star"></i>
							{% elif rating_value < 5 %}
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star-half-stroke"></i>
							{% elif rating_value == 5 %}
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							{% endif %}
						</div>
						<span class="rating-number">{{rating_value}}</span>
					</div>
					<div class="feedback-container">
						<i class="fa-regular fa-comment-dots"></i>
						<span class="feedback-text">{{num_of_reviews}} {% if num_of_reviews <= 1 %}
							review
							{% else %}
							reviews
							{% endif %}</span>
					</div>
				</div>
				<div class="quotes-from-books" style="padding: 25px 0">
					<p class="card-text-quotes" style="line-height: 25px; padding-top: 0">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro eius facere vel quis libero,
						adipisci
						possimus saepe veritatis assumenda consequatur eaque doloremque illum aspernatur ea ipsum sint,
						deleniti
						nostrum velit.
					</p>
					<p class="quotes-author">-{{book.author.name}}</p>
				</div>
				<div class="category-books">
					<span>{{book.category.name}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row book-detail-lower">
		<div class="row" style="width: 100%">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<div class="price-books-containers">
					<div class="price-books">
						{% if object.book_available is false %}
						<div class="price-books-text-before">50.000 vnd</div>
						<div class="price-books-text-after">{{book.price}} vnd</div>
						{% else %}
						<h4 class="text-danger">Out of Stock !</h4>
						{% endif %}
					</div>
					<div class="add-to-cart">
						<div class="quantity">
							<span class="quantity__minus" onclick="decrement()">-</span>
							<span id="quantity" class="quantity__input">1</span>
							<span class="quantity__plus" onclick="increment()">+</span>
						</div>
						<button class="btn btn-primary" onclick="addItem()">Buy now</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row selection-detail-review-container" style="width: 100%">
			<div class="col-md-1"></div>
			<div class="col-md-5 details-header border-bottom-clicked" onclick="selectionDetail()">The details</div>
			<div class="col-md-5 review-header" onclick="selectionReview()">Reviews ({{num_of_reviews}})</div>
			<div class="col-md-1"></div>
		</div>

		<div class="row selection-detail-container" style="padding-top: 39px; width: 100%">
			<div class="col-md-6 grid-margin" style="padding-left: 60px">
				<div class="description-container">
					<h4 class="description-title">Description</h4>
					<p class="description-text">{{book.description}}</p>
				</div>
			</div>
			<div class="col-md-1 grid-margin"></div>
			<div class="col-md-4 grid-margin">
				<div class="author-container">
					<h4 class="author-title">Author</h4>
					<p class="author-text">{{book.author.name}}</p>
				</div>

				<div class="language-container">
					<h4 class="language-title">Language</h4>
					<p class="language-text">Standard English</p>
				</div>
				<div class="publish-date-container">
					<h4 class="publish-date-title">Publish date</h4>
					<p class="language-text">{{book.published_date}}</p>
				</div>
			</div>
		</div>

		<div class="row selection-reviews-container" style="padding-top: 20px; margin-bottom: 50px; width: 100%">
			<div class="row" style="margin-bottom: 30px;">
				<div class="col-md-2 review-card-container"></div>
				<div class="col-md-10 review-card-container">
					<img style="margin-top: 30px; object-fit: cover"
						src="https://img.freepik.com/free-photo/portrait-pretty-korean-girl-receive-surprising-news-looking-amazed-happy-camera-standing-blue-background_1258-76005.jpg?w=1060&t=st%3D1681733373~exp%3D1681733973~hmac%3D2d56944b5bf1140d46f84daacb95e73126a09e56344995a6226e0c3f74f70f4c"
						class="card-img" />
					<div class="review-card-info" style="width: 80%;">
						<div class="row rating-time">
							<div class="col-md-6">
								<div class="rating-group">
									<input disabled checked class="rating__input rating__input--none" name="rating"
										id="rating-none" value="0" type="radio">
									<label aria-label="1 star" class="rating__label" for="rating-1"><i
											class="rating__icon rating__icon--star fa fa-star"></i></label>
									<input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
									<label aria-label="2 stars" class="rating__label" for="rating-2"><i
											class="rating__icon rating__icon--star fa fa-star"></i></label>
									<input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
									<label aria-label="3 stars" class="rating__label" for="rating-3"><i
											class="rating__icon rating__icon--star fa fa-star"></i></label>
									<input class="rating__input" name="rating" id="rating-3" value="3" type="radio">
									<label aria-label="4 stars" class="rating__label" for="rating-4"><i
											class="rating__icon rating__icon--star fa fa-star"></i></label>
									<input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
									<label aria-label="5 stars" class="rating__label" for="rating-5"><i
											class="rating__icon rating__icon--star fa fa-star"></i></label>
									<input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
								</div>
								<span>{{review.user.name}}</span>
							</div>
							<div class="col-md-6">
								<span class="time">{{review.created_at}}</span>
							</div>
						</div>
						<div contenteditable="true" class="review-input" id="review-input">
						</div>
						<i class="fa-solid fa-paper-plane send-review" onclick="sendReview()"></i>
					</div>
				</div>
			</div>
			{% for review in reviews reversed %}
			<div class="row review">
				<div class="col-md-2 review-card-container"></div>
				<div class="col-md-10 review-card-container">
					<img style="object-fit: cover"
						src="https://img.freepik.com/free-photo/portrait-pretty-korean-girl-receive-surprising-news-looking-amazed-happy-camera-standing-blue-background_1258-76005.jpg?w=1060&t=st%3D1681733373~exp%3D1681733973~hmac%3D2d56944b5bf1140d46f84daacb95e73126a09e56344995a6226e0c3f74f70f4c"
						class="card-img" />
					<div class="review-card-info" style="width: 100%">
						<div class="row rating-time">
							<div class="col-md-6">
								<div class="rating">
									{% if review.rating == 1 %}
									<i class="fa-solid fa-star"></i>
									<i class="fa-regular fa-star"></i>
									<i class="fa-regular fa-star"></i>
									<i class="fa-regular fa-star"></i>
									<i class="fa-regular fa-star"></i>
									{% elif review.rating == 2 %}
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-regular fa-star"></i>
									<i class="fa-regular fa-star"></i>
									<i class="fa-regular fa-star"></i>
									{% elif review.rating == 3 %}
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-regular fa-star"></i>
									<i class="fa-regular fa-star"></i>
									{% elif review.rating == 4 %}
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-regular fa-star"></i>

									{% elif review.rating == 5 %}
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									{% endif %}
								</div>
								<span>{{review.user.name}}</span>
							</div>
							<div class="col-md-6">
								<span class="time">{{review.created_at}}</span>
							</div>
						</div>
						<div class="review-content">{{review.review}}</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<script>
	async function addItem() {
		var url = "{% url 'add_to_cart' %}";
		quantity = document.getElementById("quantity").innerHTML;
		await fetch(url, {
			method: "POST",
			headers: {
				"content-type": "application/json",
				// 'X-CSRFToken': csrftoken,
			},
			body: JSON.stringify({
				id: "{{book.id}}",
				quantity: Number(quantity)
			}),
		});

		console.log("book added");
	}

	async function sendReview() {
		var url = "{% url 'send_review' %}";
		await fetch(url, {
			method: "POST",
			headers: {
				"content-type": "application/json",
			},
			body: JSON.stringify({
				review: document.getElementById("review-input").innerHTML,
				rating: document.querySelector('input[name="rating"]:checked').value,
				created_at: Date.now(),
				book_id: "{{book.id}}",
				user_id: 1,
			}),
		});
		console.log("review sent");
		window.location.reload();
	}

	function increment() {
		console.log("increment");
		var value = parseInt(document.getElementsByClassName("quantity__input")[0].innerHTML, 10);
		value = isNaN(value) ? 0 : value;
		if (value < 10) {
			value++;
			document.getElementsByClassName("quantity__input")[0].innerHTML = value;
		}
	}

	function decrement() {
		var value = parseInt(document.getElementsByClassName("quantity__input")[0].innerHTML, 10);
		value = isNaN(value) ? 0 : value;
		if (value > 1) {
			value--;
			document.getElementsByClassName("quantity__input")[0].innerHTML = value;
		}
	}
	isDetail = false;
	isReview = false;

	function selectionDetail() {
		document.getElementsByClassName("selection-detail-container")[0].style.display = "flex";
		document.getElementsByClassName("selection-reviews-container")[0].style.display = "none";
		document.getElementsByClassName("details-header")[0].style.fontWeight = "600";
		document.getElementsByClassName("review-header")[0].style.fontWeight = "normal";
		document.getElementsByClassName("details-header")[0].className = "col-md-5 details-header border-bottom-clicked";
		document.getElementsByClassName("review-header")[0].className = "col-md-5 review-header";
	}

	function selectionReview() {
		// document.getElementsByClassName('selection-detail-container')[0].style.backgroundColor = "#f5f5f5";
		document.getElementsByClassName("selection-detail-container")[0].style.display = "none";
		document.getElementsByClassName("selection-reviews-container")[0].style.display = "flex";
		document.getElementsByClassName("details-header")[0].style.fontWeight = "normal";
		document.getElementsByClassName("review-header")[0].style.fontWeight = "600";
		document.getElementsByClassName("details-header")[0].className = "col-md-5 details-header";
		document.getElementsByClassName("review-header")[0].className = "col-md-5 review-header border-bottom-clicked";
	}
</script>

{% endblock content %}