{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
</head>

<body class="min-vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <form method="POST" id="form" action="">
            
            <h1>SIGN UP</h1>

            {% csrf_token %}

            <!-- Username -->
            <div class="field-container">
                {% comment %} <input type="text" id="username" name="username" placeholder="Username"> {% endcomment %}
                {{form.username}}
                <span class="error"></span>
            </div> 

            <!-- Username -->
            <div class="field-container">
                {% comment %} <input type="text" id="username" name="username" placeholder="Username"> {% endcomment %}
                {{form.first_name}}
                <span class="error"></span>
            </div>

            <!-- Username -->
            <div class="field-container">
                {% comment %} <input type="text" id="username" name="username" placeholder="Username"> {% endcomment %}
                {{form.last_name}}
                <span class="error"></span>
            </div>
            
            <!-- Username -->
            <div class="field-container">
                {% comment %} <input type="text" id="username" name="username" placeholder="Username"> {% endcomment %}
                {{form.email}}
                <span class="error"></span>
            </div>
            
            <!-- Password -->
            <div class="field-container">
                {% comment %} <input type="password" id="password" name="password" placeholder="Password"> {% endcomment %}
                {{form.password1}}
                <span class="error"></span>
            </div>

            <!-- Confirm password -->
            <div class="field-container">
                {% comment %} <input type="password" id="cpassword" name="cpassword" placeholder="Confirm password"> {% endcomment %}
                {{form.password2}}
                <span class="error"></span>
            </div>

            <!-- Address -->
            <div class="field-container">
                {% comment %} <input type="text" id="address" name="address" placeholder="Address"> {% endcomment %}
                {{form.address}}
                <span class="error"></span>
            </div>

            <!-- Phone -->
            <div class="field-container">
                {% comment %} <input type="text" id="phone" name="phone" placeholder="Phone"> {% endcomment %}
                {{form.phone}}
                <span class="error"></span>
            </div>

            <!-- Submit button -->
            <div class="button">
                <input type="submit" value="Register" id="submitBtn">
            </div>

            <div class="other">
                Already a member? <a href="{% url 'login' %}">Login</a>
            </div>
        </form>

    </div>
    <script defer src="{% static 'js/register.js' %}"></script>
</body>

</html>